{% extends 'base.html.twig' %}

{% block title %}About this project{% endblock %}

{% block body_content %}

    <div class="row">
        <div class="col-xs-12">
            <h2>Project Resources</h2>
            <a href="https://developer.spotify.com/web-api/endpoint-reference/" target="_blank" class="marginTop20"><p>Spotify API Docs</p></a><br/>
            <a href="http://symfony.com/doc/current/index.html" target="_blank" class="marginTop20"><p>Symfony Docs</p></a><br/>
            <a href="http://symfony.com/doc/current/best_practices/index.html" target="_blank" class="marginTop20"><p>Symfony Best Practices</p></a><br/>
        </div>
    </div>

{% endblock %}