.search-btn {
    width: 150px;
}


.marginTop10 {
    margin-top: 10px;
}

.marginTop20 {
    margin-top: 20px;
}

.marginTop30 {
    margin-top: 30px;
}

.marginTop40 {
    margin-top: 40px;
}
.album-cover-image {
    margin-top: 100px;
}